.searchbar{
  width: 78%;
  //height: clamp(38px, 4vw, 48px);
  border-radius: 10px;
  background: var(--primary-dark-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--bg-dark-color);

  input{
    width: 89%;
    border: none;
    outline: none;
    //height: clamp(30px, 3.6vw, 40px);
    margin-left: 2%;
    background: var(--primary-dark-text);
    color: var(--primary-light-text);
    font-weight: 600;
    font-size: clamp(12px, 2.5vw, 18px);
    line-height: 140%;
  }

  .search-btn{
    width: 10%;
    height: clamp(30px, 3.6vw, 40px);
    margin-right: clamp(2px, 0.5vw, 4px);
    background: var(--bg-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 clamp(5px, 0.5vw, 10px) clamp(5px, 0.5vw, 10px) 0;
    img{
      width: clamp(14px, 2.5vw, 32px);
    }
  }

  @media screen and (max-width: 650px) {
    width: 68%;
    .search-btn {
      width: 20%;
    }
  }
}