.bell-icon{
  color: var(--primary-light-text);
  width: 32px;
  height: 28px;
  cursor: pointer;

  &:hover{
    opacity: 0.7;
  }

  &.dark{
    color: var(--primary-dark-text);
  }

  @media (max-width: 700px) {
    &{
      display: none;
    }
  }
}