.post-item{
  width: 220px;
  height: 200px;
  background: var(--primary-dark-text);
  border: 2px solid var(--primary-light-text);
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }

  p{
    margin: 0 10px;
  }
  .book-price,
  .book-title{
    font-weight: 600;
    font-size: 14px;
    color: #0C43CF;
  }

  .book-price{
    height: 25px;
  }

  .book-title{
    color: var(--primary-light-text);
  }

  .book-author{
    font-weight: 500;
    font-size: 13px;
    color: rgba(30, 33, 45, 0.46);
  }

  img{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin-left: 22%;
    border-radius: 10px;
  }
}
