.signin-content{
  width: clamp(300px, 45vw, 456px);
  height: clamp(435px, 55vw, 519px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: rgba(116, 116, 116, 0.44);
  box-shadow: 0 0 30px #44464C;
  border-radius: clamp(16px, 5vw, 59px);
  z-index: 2;

  .title{
    font-size: clamp(24px, 3vw, 30px);
    color: #FFFFFF;
  }

  .fields-group {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .password, .username{
      position: relative;
      height: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .pwd-content, .username-content{
        width: clamp(220px, 40vw, 320px);
        height: 3rem;
        border-bottom: 2px solid var(--primary-light-text);
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: calc(clamp(220px, 40vw, 320px) - clamp(20px, 8vw, 62px));
          border: none;
          background: transparent;
          height: 100%;
          outline: none;
          margin-left: 10px;

          font-size: clamp(16px, 3vw, 24px);
          color: rgba(229, 229, 229, 0.8);
        }

        img {
          width: clamp(20px, 8vw, 62px);
        }

      }
      .sign-in-error{
        font-size: clamp(10px, 2vw, 16px);
        color: var(--error-color);
        margin: 0;
      }
    }
  }

  .forgot-pwd{
    font-size: clamp(14px, 2vw, 18px);
    color: rgba(229, 229, 229, 0.8);
    margin-top: -5%;
  }

  .start-btn{
    width: clamp(150px, 30vw, 326px);
    height: clamp(20px, 7vw, 50px);
    background: #1E212D;
    border-radius: 22.5px;
    font-size: clamp(16px, 3vw, 24px);
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    &:hover{
      opacity: 0.7;
    }
  }
}