.sent-message {
  display: flex;
  align-items: center;
  align-self: end;
  p {
    width: 200px;
    font-size: 16px;
    padding: 5px;
    background: var(--bg-dark-color);
    color: var(--primary-dark-text);
    border: 2px solid var(--primary-dark-text);
    border-radius: 15px 15px 0 15px;
    text-align: center;
    margin-right: 5px;
  }
}

.received-message{
  display: flex;
  align-items: center;
  p{
    width: 200px;
    font-size: 16px;
    padding: 5px;
    background: var(--primary-dark-text);
    color: var(--primary-light-text);
    border: 2px solid var(--primary-light-text);
    border-radius: 15px 15px 15px 0;
  }
  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin:0 5px;
    border: 2px solid var(--primary-dark-text);

  }
}