.post-page{
  width: 100%;
  min-height: 93vh;

  &__content{
    width: 100%;
    display: flex;

    .post-img-action-group{
      //width: 40%;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      .post-image{
        width: clamp(300px, 60vw, 470px);
        height: clamp(300px, 60vw, 470px);
        border-radius: 10px;
        border: 2px solid var(--primary-dark-text);
        object-fit: cover;
      }

      .buttons{
        width: clamp(300px, 60vw, 470px);
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        div, button{
          width: 25%;
          height: clamp(40px, 6vw, 60px);
          background: var(--post-light-color);
          border: 2px solid var(--primary-light-text);
          font-size: clamp(14px, 2.5vw, 24px);
          box-sizing: border-box;
          border-radius: clamp(5px, 2vw, 10px);
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: clamp(20px, 4vw, 40px);
            height: clamp(40px, 3vw, 60px);
            cursor: pointer;
          }
        }
        button{
          width: 70%;
          height: clamp(40px, 6vw, 60px);
          cursor: pointer;

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    .book-descr{
      width: 100%;
      min-height: 100px;
      background: var(--post-light-color);
      border-radius: 5px;
      border: 2px solid var(--primary-light-text);

      .descr-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color:var(--primary-light-text) !important;
      }

      p{
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin: 20px 20px 20px 20px;
      }
    }
  }

  @media screen and (max-width: 900px){
    &__content{
      flex-direction: column;
      margin: 1rem 0;
      align-items: center;

      .post-img-action-group{
        margin-right: 0;
      }

      .book-descr{
        margin-top: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 700px){

  }
}