.comment{
  margin: 1rem 0 0 0.2rem;

  border-left: 1px dotted var(--primary-light-text);
  padding-left: 5px;
  position: relative;
  .author{
    display: flex;
    align-items: center;
    cursor: pointer;
    .avatar{
      width: 42px;
      height: 42px;
      background: var(--bg-light-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .comment-author{
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: var(--primary-light-text);
      margin-left: 5px;
    }

    .comment-time{
      font-weight: 500;
      font-size: 14px;
      color: #555555;
      margin: 2px 0 0 5px;
      font-style: italic;
    }
  }


  .comment-content{
    background: var(--post-light-color);
    border: 1px solid var(--primary-light-text);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .comment-text{
      width: 85%;
      font-size: 18px;
      line-height: 140%;
      color: var(--primary-light-text);
      margin: 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    .reply{
      position: absolute;
      bottom: 5px;
      right: 10px;
      width: 25px;
      cursor: pointer;
      z-index: 5;
      &:hover{
        opacity: .7;
      }
    }
  }

  &.dark{
    border-left: 1px dotted var(--primary-dark-text);

    .author{
      .comment-author{
        color: var(--primary-dark-text);
      }

      .comment-time{
        color: #cecece;
      }
    }
  }
}