.aboutus-page{
  width: 100%;
  //overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .about-description{
    width: 50%;
  }

  .about-image{
    width: 50%;
    img{
      width: 100%;
      border-radius: 30px;
    }
  }

  @media screen and (max-width: 900px){
    flex-direction: column;
    .about-description{
      width: 100%;
    }

    .about-image{
      width: 100%;
    }
  }
}