.books-page{
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  .helpers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
  }

  .bookslist{
    height: 100vh;
    overflow-y: scroll;


    &::-webkit-scrollbar{
      display: none;
    }

    .no-found{
      height: 20px;
      top: 0;
      left: 0;
      font-weight: 600;
      font-size: 22px;
      color: var(--error-color);

      &.dark{
        color: var(--error-dark-color);
      }
    }
  }


}